.grid-container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
  grid-template-areas: 'sidebar main';
  height: 100vh;
}

.Header {
  grid-area: header;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.Sidebar {
  grid-area: sidebar;
  background-color: #f0f0f0;
  padding: 1rem;
}

.main-content {
  grid-area: main;
  padding: 1rem;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 30px;
  margin-right: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  margin-left: 30px;

}

.card h2 {
  background-color: #1d2634;
  font-size: 14px;
  border-bottom: none;
  text-transform: uppercase;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}


.card:hover {
  transform: translateY(-5px);
}

.bold {
  font-weight: bold;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 60%;
  transform: translateX(-50%);
  z-index: 999;

}

.pagination-container span {
  margin: 0 10px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #333;
  font-weight: bold;
}


.pagination-container button {
  margin: 0 5px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.pagination-container button.active {
  background-color: #007bff;
  color: white;
}

.pagination-container button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}