   .paginations {
       display: flex;
       justify-content: center;
       align-items: center;
       position: fixed;
       bottom: 20px;
       left: 60%;
       transform: translateX(-50%);
       z-index: 999;

   }

   .paginations span {
       margin: 0 10px;
       padding: 6px 12px;
       border: 1px solid #ccc;
       border-radius: 4px;
       background-color: #f8f8f8;
       color: #333;
       font-weight: bold;
   }

   .paginations button {
       margin: 0 5px;
       padding: 8px 16px;
       border: 1px solid #ccc;
       border-radius: 4px;
       background-color: #f8f8f8;
       cursor: pointer;
   }

   .paginations button.active {
       background-color: #007bff;
       color: white;
   }

   .paginations button:disabled {
       opacity: 0.6;
       cursor: not-allowed;
   }

   .posts-containers {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
       grid-gap: 20px;
       margin-top: 30px;
       margin-right: 20px;
   }

   .cards {
       background-color: #fff;
       border-radius: 8px;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
       padding: 1rem;
       transition: transform 0.3s ease-in-out;
       margin-left: 30px;
   }

   .cards h2 {
       background-color: #1d2634;
       font-size: 14px;
       border-bottom: none;
       text-transform: uppercase;
       color: #fff;
       padding: 8px;
       border-radius: 4px;
       margin-bottom: 8px;
   }

   .cards:hover {
       transform: translateY(-5px);
   }

   .bold {
       font-weight: bold;
   }

   .cards p {
       color: #333;
   }


   @media (max-width: 768px) {
       .posts-containers {
           grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
           grid-gap: 10px;
           margin: 20px;
       }

       .cards {
           margin-left: 0;
           width: 100%;
       }
   }